{% extends 'base.html.twig' %}

{% block page_title %}Ingredient Type Field{% endblock %}
{% block page_subtitle %}configuration{% endblock %}

{% block page_content %}
    <table class="table">
        <thead>
            <tr>
                <th>Ingredient Types</th>
                <th>Unit of Measurement</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ingredient_type_field in ingredient_type_fields %}
            <tr>
                <td>{{ ingredient_type_field.ingredientType|join(', ') }}</td>
                <td>{{ ingredient_type_field.unitOfMeasure }}</td>
                <td>
                    <a href="{{ path('ingredient_type_field_show', {'id': ingredient_type_field.id}) }}"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('ingredient_type_field_edit', {'id': ingredient_type_field.id}) }}"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ingredient_type_field_new') }}"><i class="fas fa-plus"></i>&nbsp;Create new</a>
{% endblock %}
