{% extends 'base.html.twig' %}

{% block page_title %}Recipes{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block topRight %}
    <a href="{{ path('recipe_new') }}" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;Create new</a>
{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Style</th>
                <th>Percentage Alcohol</th>
            </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.name }}</td>
                <td>{{ recipe.style }}</td>
                <td>{{ recipe.targetAlcoholVolume }}</td>
                <td>
                    <a href="{{ path('recipe_show', {'id': recipe.id}) }}" class="btn btn-default"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('recipe_edit', {'id': recipe.id}) }}" class="btn btn-default"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
