{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('main.css')) }}" media="all">
    <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('bundles/adminlte/adminlte.css')) }}" media="all">
{% endblock %}


{% block logo_path %}{% endblock %}
{% block logo_mini %}{% endblock %}
{% block logo_large %}<b>Beer</b>zzz{% endblock %}
{% block sidebar_search %}{% endblock %}

{% block navbar_user %}
    <div class="pull-right" style="margin-top: 8px; margin-right: 10px;">
        <a href="{{ logout_path() }}"
           class="btn btn-default bg-yellow-active"><i class="fas fa-sign-out-alt"></i>&nbsp;{{ 'Sign out'|trans({}, 'AdminLTEBundle') }}</a>
    </div>
{% endblock %}

{% block page_content %}
<div class="box">
    <div class="box-header with-border">
        <div class="box-tools pull-right">
            <div class="btn-group float-right" role="group">
            {% block topRight %}

            {% endblock %}
            </div>
        </div>
    </div>

    <div class="box-body">
        {% block body %}
        {% endblock %}
    </div>
    <div class="box-footer">
        {% if pagination is defined %}
            <div class="pull-right">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block footer %}
<footer class="main-footer">
    <strong>Copyright &copy; 2020 <a href="#">Beerzzz</a>.</strong> All rights reserved.
</footer>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/adminlte/adminlte.js') }}"></script>
    {% block page_javascripts %}
    {% endblock %}
{% endblock %}

{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
{% endblock %}
